.products-spacing {
    margin-bottom: 50px; /* Adjust the value for desired spacing */
}

@media (min-width: 767.5px) {
    .md-text {
        font-size: 40px;
    }

    .hidden-md-up {
        display: none;
    }

    .buy-section {
        display: flex;
    }
}

h2.row{
    margin-bottom: 60px;
    margin-top: 30px;
}

@media(max-width: 767.5px) {
    .md-margin-bot {
        margin-bottom: 10px;
    }

    .hidden-md-up {
        display: block;
    }
    .md-text {
        font-size: 40px;
    }
}

.footer {
    height: 200px;
    background-color: #E3B7A0;
}

.header {
    background-color: #E3B7A0;
}

.contact-info{
    border-left: 1px solid rgb(100, 100, 100);
    
    padding-left: 15px;
}

.line-under{
    border-bottom: 1px solid rgb(100, 100, 100);
}


@media(max-width: 767.5px) {
    .md-margin-bot {
        margin-bottom: 10px;
    }

    .hidden-md-up {
        display: block;
    }

    .md-text {
        font-size: 40px;
    }

    .counter {
        margin-bottom: 10px;
    }
}


.col-md-4.col-sm-6 {
    object-fit: cover;
}

.product {
    margin-bottom: 15px;
}

.price {
    font-weight: bold;
}

body{
    background-color: #FFF5E4;
}

a{
    color:#7D0A0A;
}

.btn-secondary, .btn-outline-success:hover, .btn-primary{
    background-color:#7D0A0A;
    color: #FFFFFF;
    border-color:#7D0A0A;
}

.btn-secondary:hover,.btn-outline-success, .btn-primary:hover{
    color:#7D0A0A;
    background-color: #FFFFFF;
    border-color: #7D0A0A;
}


.products-spacing {
    margin-bottom: 50px;
    /* Adjust the value for desired spacing */
}

.last-product {
    /* padding: 20px; */
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    /* border-radius: 10%; */
}

h2.row {
    margin-bottom: 60px;
    margin-top: 30px;
}

@media(max-width: 767.5px) {
    .md-margin-bot {
        margin-bottom: 10px;
    }

    .hidden-md-up {
        display: block;
    }

    .md-text {
        font-size: 40px;
    }
}


@media(max-width: 767.5px) {
    .hidden-md-down {
        display: none;
    }
}

@media(min-width: 767.5px) {
    .hidden-md-down {
        display: block;
    }
}

.circle {
    border: 1px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 575.5px) {
    .circle {
        width: 30px;
        height: 30px;
    }

    .circle-active {
        width: 40px;
        height: 40px;
    }
}


.circle-active {
    border: 2px solid black;
}

.line {
    width: 60px;
    height: 4px;
    background-color: rgb(0, 0, 0, 0.5);
}

.line-active {
    background-color: black;
}

.shopping-cart-products {
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid black;
    border-radius: 20px;
}


.products-spacing {
    margin-bottom: 50px;
    /* Adjust the value for desired spacing */
}

@media (min-width: 767.5px) {
    .md-text {
        font-size: 40px;
    }

    .hidden-md-up {
        display: none;
    }

    .buy-section {
        display: flex;
    }
}

.donut-product-outline {
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid black;
    border-radius: 40px;
    width: fit-content;
    /* padding: 20px; */
}

.header-info {
    border: 1px solid black;
    margin-bottom: 1px;
}


.odd {
    background-color: rgb(250, 118, 118);
}


.logo {
    height: 50%;
    width: 50%;
}



